version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: php/Dockerfile
    environment:
      DB_HOST: db
      DB_NAME: testdb
      DB_USER: testuser
      DB_PASS: testpass
    container_name: lamp-web
    ports:
      - "8080:80"
    volumes:
      - ./www:/var/www/html
      - ./vendor:/var/www/html/vendor
      - ./php/php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: mariadb:10.11
    container_name: lamp-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
      MYSQL_USER: testuser
      MYSQL_PASSWORD: testpass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./database:/docker-entrypoint-initdb.d   # ← ここでマウント

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: lamp-phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    depends_on:
      - db

volumes:
  db_data: